.wrapper {


  .total {
    display: flex;
    justify-content: space-between;
    margin: 16px 16px 0 16px;
    border-radius: var(--button-radius);

    > li {
      font-size: 18px;
      flex: 1;
      color: var(--total-text);
      padding: 16px;
      margin: 0 2px;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: var(--button-radius);


      &:first-child {
        background: var(--total--expenses--bg);
      }

      &:nth-child(2) {
        background: var(--total--income-bg);
      }

      &:nth-child(3) {
        background: var(--total--balance--bg);
      }
    }
  }

  .statistics_wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .statistics {
      width: 100%;
      height: 10px;
      border-radius: var(--button-radius);
      background: var(--text-color-black);
    }

    .list {
      height: calc(100vh - 384px);
      overflow: auto;
      background: #fff;
      width: calc(100% - 16px);
      margin-top: -5px;
      box-shadow: 0 5px 5px #0000001a;
      border-radius: 0 0 var(--button-radius) var(--button-radius);

      > li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        //border-top: 1px dashed var(--list-border-button);
        padding: 12px 16px;


        .sign {
          flex-grow: 0;
          flex-shrink: 0;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background: var(--tags-selet-bg);
          box-shadow: var(--tags-show);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 8px;
        }

        .text {
          margin-right: 4px;
          margin-left: 4px;
          flex-grow: 1;
          flex-shrink: 1;

          .tagAndAmount {
            display: flex;
            justify-content: space-between;

            .tag {
              color: var(--list-tag-text);
            }

            .amountExpenses {
              color: var(--list-expenses-text);
            }

            .amountIncome {
              color: var(--list-income-text);
            }
          }

          .time {
            color: var(--list-time-text);
            margin-top: 4px;
          }
        }
      }
    }

  }


  .more {
    padding: 16px;
    text-align: center;
    color: #d5d8de;
  }

  .msg {
    text-align: center;


    .msg_icon {
      margin-top: 6vh;

      width: 100%;
      height: 40vh;
    }

    .msg_text {
      font-size: 12px;
      color: var(--text);
    }

    .msg_button {
      margin-top: 3vh;
      width: calc(100vw - 140px);
    }
  }


}
