.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px);
}


.inputPad_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.tabs {

  flex-grow: 1;
  flex-shrink: 1;

}

.tags_wrapper {
  overflow: auto;
  height: calc(100vh - 422px);
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
}




