.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px;

}


.title_wrapper {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--title-font-family);
}

.icon_wrapper{
    fill:black ;


    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    >* {
            max-width: 100%;
            max-height: 100%;
        }

}
.fake {
    visibility: hidden;
}




