.tabs {
  position: relative;
  .tabs_wrapper{
    background: white;
    padding: 8px 28px;

  }
  &_nav {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    //margin: 8px 16px;
    background: var(--navbar-bg-end);
    border-radius: var(--button-radius);
    color: rgba(255, 97, 97, 1);
    font-weight: bold;

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 0;
      padding: 8px 0;

      &.selected {
        color: black;
        background: var(--tabs-indicator-bg);
        border-radius: var(--button-radius);
        transition: all .25s;
      }
    }
  }
}
