
.pig_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .pig{
    width: 100%;
    height: 50vh;
  }
  .text{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
}

