.wrapper{

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon{
        width: 100vw;
        height: 70vw;
    }
    .title{
        font-size: 22px;
        font-weight: bold;
    }
}

.login{
    padding-top: 30px;
}
}
