.warpper{}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px 0 0;
    .icon{
        width: 64px;
        height: 64px;
    }
    .title{
        color: var(--app-name-color);
        font-size: 32px;
        font-weight: bold;
    }
}

.login{
    padding-top: 96px;
}