
.overlay {

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay-mask-bg);

  // z-index: var(--van-overlay-z-index);

  &_inner {
    border-radius: var(--button-radius);
    background: white;

    width: 80vw;

    > header {
      padding: 16px 16px 0;
      color: black;
      font-weight: bold;
    }

    // >main {}
  }
}

.actions {
  text-align: right;

  > button {
    border: none;
    background: transparent;
    padding: 8px 16px;


  }

}
